In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845513 sha256=f9563ddc0e5d09d2f8e320243668b4034a9081fe9894873582e9693d43a515eb
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Capstone Project').config("spark.some.config.option", "some-value").getOrCreate()

In [ ]:
# Reading the dataset

filepath = '/content/drive/MyDrive/Capstone Project/yellow_tripdata_2020-12.csv'
dataframe = spark.read.csv(filepath, header=True, inferSchema=True)
dataframe.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [ ]:
# Counting the number of records in dataset

dataframe.count()

1461897

In [ ]:
print('VendorID null count :',dataframe.filter('VendorID is null').count())
print('tpep_pickup_datetime null count :',dataframe.filter('tpep_pickup_datetime is null').count())
print('tpep_dropoff_datetime null count :',dataframe.filter('tpep_dropoff_datetime is null').count())
print('passenger_count null count :',dataframe.filter('passenger_count is null').count())
print('trip_distance null count :',dataframe.filter('trip_distance is null').count())
print('RatecodeID null count :',dataframe.filter('RatecodeID is null').count())
print('store_and_fwd_flag null count :',dataframe.filter('store_and_fwd_flag is null').count())
print('PULocationID null count :',dataframe.filter('PULocationID is null').count())
print('DOLocationID null count :',dataframe.filter('DOLocationID is null').count())
print('payment_type null count :',dataframe.filter('payment_type is null').count())
print('fare_amount null count :',dataframe.filter('fare_amount is null').count())
print('extra null count :',dataframe.filter('extra is null').count())
print('mta_tax null count :',dataframe.filter('mta_tax is null').count())
print('tip_amount null count :',dataframe.filter('tip_amount is null').count())
print('tolls_amount null count :',dataframe.filter('tolls_amount is null').count())
print('improvement_surcharge null count :',dataframe.filter('improvement_surcharge is null').count())
print('total_amount null count :',dataframe.filter('total_amount is null').count())
print('congestion_surcharge null count :',dataframe.filter('congestion_surcharge is null').count())

VendorID null count : 99456
tpep_pickup_datetime null count : 0
tpep_dropoff_datetime null count : 0
passenger_count null count : 99456
trip_distance null count : 0
RatecodeID null count : 99456
store_and_fwd_flag null count : 99456
PULocationID null count : 0
DOLocationID null count : 0
payment_type null count : 99456
fare_amount null count : 0
extra null count : 0
mta_tax null count : 0
tip_amount null count : 0
tolls_amount null count : 0
improvement_surcharge null count : 0
total_amount null count : 0
congestion_surcharge null count : 0

In [ ]:
# Checking for distinct values

dataframe.groupBy('VendorID').count().show()

+--------+------+
|VendorID| count|
+--------+------+
|       1|428740|
|       2|933701|
|    null| 99456|
+--------+------+

In [ ]:
dataframe.groupBy('RatecodeID').count().show()

+----------+-------+
|RatecodeID|  count|
+----------+-------+
|         1|1343815|
|         6|     10|
|         3|   1163|
|         5|   4888|
|         4|    899|
|         2|  11634|
|        99|     32|
|      null|  99456|
+----------+-------+

In [ ]:
dataframe.groupBy('store_and_fwd_flag').count().show()

+------------------+-------+
|store_and_fwd_flag|  count|
+------------------+-------+
|                 Y|  19166|
|                 N|1343275|
|              null|  99456|
+------------------+-------+

In [ ]:
dataframe.groupBy('payment_type').count().show()

+------------+------+
|payment_type| count|
+------------+------+
|           1|990334|
|           3|  9017|
|           4|  6357|
|           2|356733|
|        null| 99456|
+------------+------+

In [ ]:
# Dropping NA values
dataframe = dataframe.na.drop(how='any', subset=['VendorID'])

In [ ]:
# Validating the results

dataframe.groupBy('VendorID').count().show()

+--------+------+
|VendorID| count|
+--------+------+
|       1|428740|
|       2|933701|
+--------+------+

In [ ]:
dataframe.groupBy('RatecodeID').count().show()

+----------+-------+
|RatecodeID|  count|
+----------+-------+
|         1|1343815|
|         6|     10|
|         3|   1163|
|         5|   4888|
|         4|    899|
|         2|  11634|
|        99|     32|
+----------+-------+

In [ ]:
dataframe.groupBy('store_and_fwd_flag').count().show()

+------------------+-------+
|store_and_fwd_flag|  count|
+------------------+-------+
|                 Y|  19166|
|                 N|1343275|
+------------------+-------+

In [ ]:
dataframe.groupBy('payment_type').count().show()

+------------+------+
|payment_type| count|
+------------+------+
|           1|990334|
|           3|  9017|
|           4|  6357|
|           2|356733|
+------------+------+

In [ ]:
dataframe.groupBy('passenger_count').count().show()

+---------------+-------+
|passenger_count|  count|
+---------------+-------+
|              1|1028740|
|              6|  27046|
|              3|  47548|
|              5|  33781|
|              9|      2|
|              4|  18418|
|              8|      4|
|              2| 178704|
|              0|  28193|
|              7|      5|
+---------------+-------+

In [ ]:
print('VendorID null count :',dataframe.filter('VendorID is null').count())
print('tpep_pickup_datetime null count :',dataframe.filter('tpep_pickup_datetime is null').count())
print('tpep_dropoff_datetime null count :',dataframe.filter('tpep_dropoff_datetime is null').count())
print('passenger_count null count :',dataframe.filter('passenger_count is null').count())
print('trip_distance null count :',dataframe.filter('trip_distance is null').count())
print('RatecodeID null count :',dataframe.filter('RatecodeID is null').count())
print('store_and_fwd_flag null count :',dataframe.filter('store_and_fwd_flag is null').count())
print('PULocationID null count :',dataframe.filter('PULocationID is null').count())
print('DOLocationID null count :',dataframe.filter('DOLocationID is null').count())
print('payment_type null count :',dataframe.filter('payment_type is null').count())
print('fare_amount null count :',dataframe.filter('fare_amount is null').count())
print('extra null count :',dataframe.filter('extra is null').count())
print('mta_tax null count :',dataframe.filter('mta_tax is null').count())
print('tip_amount null count :',dataframe.filter('tip_amount is null').count())
print('tolls_amount null count :',dataframe.filter('tolls_amount is null').count())
print('improvement_surcharge null count :',dataframe.filter('improvement_surcharge is null').count())
print('total_amount null count :',dataframe.filter('total_amount is null').count())
print('congestion_surcharge null count :',dataframe.filter('congestion_surcharge is null').count())

VendorID null count : 0
tpep_pickup_datetime null count : 0
tpep_dropoff_datetime null count : 0
passenger_count null count : 0
trip_distance null count : 0
RatecodeID null count : 0
store_and_fwd_flag null count : 0
PULocationID null count : 0
DOLocationID null count : 0
payment_type null count : 0
fare_amount null count : 0
extra null count : 0
mta_tax null count : 0
tip_amount null count : 0
tolls_amount null count : 0
improvement_surcharge null count : 0
total_amount null count : 0
congestion_surcharge null count : 0

In [ ]:
dataframe.count()

1362441

In [ ]:
dataframe.groupBy('passenger_count').count().show()

+---------------+-------+
|passenger_count|  count|
+---------------+-------+
|              1|1028740|
|              6|  27046|
|              3|  47548|
|              5|  33781|
|              9|      2|
|              4|  18418|
|              8|      4|
|              2| 178704|
|              0|  28193|
|              7|      5|
+---------------+-------+

In [ ]:
# Removing entries with passenger count as 0
dataframe = dataframe.where('passenger_count>0')

In [ ]:
dataframe.count()

1334248

In [ ]:
print('total_amount negetive count :',dataframe.filter('total_amount < 0').count())

total_amount negetive count : 7692

In [ ]:
dataframe.filter('total_amount < 0').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2| 2020-12-01 00:12:06|  2020-12-01 00:37:49|              1|        11.21|         1|                 N|          48|          89|           4|      -32.0| -0.5|   -0.5|       0.0|         0.0|                 -0.3|       -35.8|                -2.5|
|       2| 2020-12-01 00:35:15|  2020-12-01 00:37:35|              2|         0.08|         1|                 N|         141|         141|           4|       -3.5| -0.5|   -0.5|       0.0|         0.0|                 -0.3|        -7.3|                -2.5|
|       2| 2020-12-01 00:40:16|  2020-12-01 00:42:39|              1|          0.8|         1|                 N|         263|         236|           3|       -4.5| -0.5|   -0.5|       0.0|         0.0|                 -0.3|        -8.3|                -2.5|
|       2| 2020-12-01 00:14:04|  2020-12-01 00:18:14|              1|         0.45|         1|                 N|         107|         107|           4|       -4.5| -0.5|   -0.5|       0.0|         0.0|                 -0.3|        -8.3|                -2.5|
|       2| 2020-12-01 01:28:23|  2020-12-01 01:28:54|              1|         0.01|         1|                 N|         230|         230|           4|       -2.5| -0.5|   -0.5|       0.0|         0.0|                 -0.3|        -6.3|                -2.5|
|       2| 2020-12-01 01:44:01|  2020-12-01 01:55:27|              1|         2.63|         1|                 N|         239|          41|           4|      -11.0| -0.5|   -0.5|       0.0|         0.0|                 -0.3|       -14.8|                -2.5|
|       2| 2020-12-01 02:22:26|  2020-12-01 02:23:38|              1|         0.12|         5|                 N|          69|          69|           3|       -6.0|  0.0|   -0.5|       0.0|         0.0|                 -0.3|        -6.8|                 0.0|
|       2| 2020-12-01 03:59:56|  2020-12-01 04:03:18|              1|         1.36|         1|                 N|          90|          48|           4|       -5.5| -0.5|   -0.5|       0.0|         0.0|                 -0.3|        -9.3|                -2.5|
|       2| 2020-12-01 05:16:06|  2020-12-01 05:21:33|              1|         2.12|         1|                 N|         141|          75|           2|       -7.5| -0.5|   -0.5|       0.0|         0.0|                 -0.3|       -11.3|                -2.5|
|       2| 2020-12-01 05:22:44|  2020-12-01 05:29:28|              1|         1.63|         1|                 N|          75|         166|           2|       -7.0| -0.5|   -0.5|       0.0|         0.0|                 -0.3|        -8.3|                 0.0|
|       2| 2020-12-01 05:39:22|  2020-12-01 05:41:26|              1|         0.49|         1|                 N|         100|         170|           4|       -4.0| -0.5|   -0.5|       0.0|         0.0|                 -0.3|        -7.8|                -2.5|
|       2| 2020-12-01 06:47:43|  2020-12-01 06:52:24|              2|         0.74|         1|                 N|         100|         170|           4|       -5.5|  0.0|   -0.5|       0.0|         0.0|                 -0.3|        -8.8|                -2.5|
|       2| 2020-12-01 06:12:05|  2020-12-01 06:31:49|              1|         8.84|         1|                 N|         229|         195|           4|      -26.0|  0.0|   -0.5|       0.0|         0.0|                 -0.3|       -29.3|                -2.5|
|       2| 2020-12-01 06:57:46|  2020-12-01 07:00:33|              2|         0.55|         1|                 N|         263|         236|           4|       -4.0|  0.0|   -0.5|       0.0|         0.0|                 -0.3|        -7.3|                -2.5|
|       2| 2020-12-01 06:08:23|  2020-12-01 07:50:24|              2|        75.85|         4|                 N|         132|         265|           4|     -160.0|  0.0|   -0.5|       0.0|      -13.75|                 -0.3|     -177.05|                -2.5|
|       2| 2020-12-01 07:53:33|  2020-12-01 07:55:27|              1|         0.16|         1|                 N|          79|         144|           3|       -3.5|  0.0|   -0.5|       0.0|         0.0|                 -0.3|        -6.8|                -2.5|
|       2| 2020-12-01 07:59:51|  2020-12-01 08:02:25|              1|         0.69|         1|                 N|         170|         137|           3|       -4.0|  0.0|   -0.5|       0.0|         0.0|                 -0.3|        -7.3|                -2.5|
|       2| 2020-12-01 07:49:33|  2020-12-01 07:50:07|              2|         0.02|         1|                 N|          42|          42|           3|       -2.5|  0.0|   -0.5|       0.0|         0.0|                 -0.3|        -3.3|                 0.0|
|       2| 2020-12-01 07:50:30|  2020-12-01 07:53:08|              1|         0.04|         1|                 N|         193|         193|           3|       -3.5|  0.0|   -0.5|       0.0|         0.0|                 -0.3|        -4.3|                 0.0|
|       2| 2020-12-01 07:54:01|  2020-12-01 07:54:08|              1|          0.0|         1|                 N|         193|         193|           3|       -2.5|  0.0|   -0.5|       0.0|         0.0|                 -0.3|        -3.3|                 0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [ ]:
# Finding records with total_amount > 0
dataframe = dataframe.where('total_amount>0')
dataframe.groupBy('total_amount').count().show()

+------------+-----+
|total_amount|count|
+------------+-----+
|        49.8|  168|
|        56.8|   91|
|       58.92|  401|
|        9.13|  838|
|        14.9|  142|
|        13.4|   53|
|       244.8|    1|
|        15.5|  234|
|        69.8|   50|
|       61.78|    4|
|       41.42|  187|
|       46.15|   30|
|       19.98|    7|
|       12.32|   19|
|       70.07|    4|
|       17.52|   13|
|       37.81|    3|
|       43.03|   10|
|        98.3|    5|
|       60.17|   15|
+------------+-----+
only showing top 20 rows

In [ ]:
print('total_amount negetive count :',dataframe.filter('total_amount < 0').count())

total_amount negetive count : 0

In [ ]:
dataframe.count()

1326065

In [ ]:
dataframe = dataframe.where('tpep_dropoff_datetime > tpep_pickup_datetime')

In [ ]:
dataframe.count()

1325432

In [ ]:
print('trip_distance negetive count :',dataframe.filter('trip_distance < 0').count())

trip_distance negetive count : 0

In [ ]:
dataframe.count()

1325432

In [ ]:
dataframe.filter('trip_distance = 0').count()

13762

In [ ]:
# Removing rows with trip distance less than 0
# Removing entries with passenger count as 0
dataframe = dataframe.where('trip_distance != 0')

In [ ]:
dataframe.count()

1311670

In [ ]:
# Splitting pickup datetime column into Date, Day, Month, Year, Hour, Minute, Seconds 
from pyspark.sql.functions import to_timestamp,date_format
from pyspark.sql.functions import col
 
dataframe = dataframe.withColumn("tpep_pickup_datetime",
                     to_timestamp(col("tpep_pickup_datetime"))).withColumn("Pickup_Date", date_format(col("tpep_pickup_datetime"), "d"))
dataframe = dataframe.withColumn("tpep_pickup_datetime",
                     to_timestamp(col("tpep_pickup_datetime"))).withColumn("Pickup_Day", date_format(col("tpep_pickup_datetime"), "E"))
dataframe = dataframe.withColumn("tpep_pickup_datetime",
                     to_timestamp(col("tpep_pickup_datetime"))).withColumn("Pickup_Month", date_format(col("tpep_pickup_datetime"), "M"))
dataframe = dataframe.withColumn("tpep_pickup_datetime",
                     to_timestamp(col("tpep_pickup_datetime"))).withColumn("Pickup_Year", date_format(col("tpep_pickup_datetime"), "y"))
dataframe = dataframe.withColumn("tpep_pickup_datetime",
                     to_timestamp(col("tpep_pickup_datetime"))).withColumn("Pickup_Hour", date_format(col("tpep_pickup_datetime"), "H"))
dataframe = dataframe.withColumn("tpep_pickup_datetime",
                     to_timestamp(col("tpep_pickup_datetime"))).withColumn("Pickup_Minute", date_format(col("tpep_pickup_datetime"), "m"))
dataframe = dataframe.withColumn("tpep_pickup_datetime",
                     to_timestamp(col("tpep_pickup_datetime"))).withColumn("Pickup_Second", date_format(col("tpep_pickup_datetime"), "s"))

In [ ]:
# Splitting dropoff datetime column into Date, Day, Month, Year, Hour, Minute, Seconds 
dataframe = dataframe.withColumn("tpep_dropoff_datetime",
                     to_timestamp(col("tpep_dropoff_datetime"))).withColumn("Dropoff_Date", date_format(col("tpep_dropoff_datetime"), "d"))
dataframe = dataframe.withColumn("tpep_dropoff_datetime",
                     to_timestamp(col("tpep_dropoff_datetime"))).withColumn("Dropoff_Day", date_format(col("tpep_dropoff_datetime"), "E"))
dataframe = dataframe.withColumn("tpep_dropoff_datetime",
                     to_timestamp(col("tpep_dropoff_datetime"))).withColumn("Dropoff_Month", date_format(col("tpep_dropoff_datetime"), "M"))
dataframe = dataframe.withColumn("tpep_dropoff_datetime",
                     to_timestamp(col("tpep_dropoff_datetime"))).withColumn("Dropoff_Year", date_format(col("tpep_dropoff_datetime"), "y"))
dataframe = dataframe.withColumn("tpep_dropoff_datetime",
                     to_timestamp(col("tpep_dropoff_datetime"))).withColumn("Dropoff_Hour", date_format(col("tpep_dropoff_datetime"), "H"))
dataframe = dataframe.withColumn("tpep_dropoff_datetime",
                     to_timestamp(col("tpep_dropoff_datetime"))).withColumn("Dropoff_Minute", date_format(col("tpep_dropoff_datetime"), "m"))
dataframe = dataframe.withColumn("tpep_dropoff_datetime",
                     to_timestamp(col("tpep_dropoff_datetime"))).withColumn("Dropoff_Second", date_format(col("tpep_dropoff_datetime"), "s"))

In [ ]:
dataframe.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Pickup_Date|Pickup_Day|Pickup_Month|Pickup_Year|Pickup_Hour|Pickup_Minute|Pickup_Second|Dropoff_Date|Dropoff_Day|Dropoff_Month|Dropoff_Year|Dropoff_Hour|Dropoff_Minute|Dropoff_Second|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+
|       1| 2020-12-01 00:07:13|  2020-12-01 00:18:12|              1|          7.6|         1|                 N|         138|         263|           1|       21.5|  3.0|    0.5|       2.5|        6.12|                  0.3|       33.92|                 2.5|          1|       Tue|          12|       2020|          0|            7|           13|           1|        Tue|           12|        2020|           0|            18|            12|
|       1| 2020-12-01 00:41:19|  2020-12-01 00:49:45|              1|          1.6|         1|                 N|         140|         263|           1|        8.0|  3.0|    0.5|      2.95|         0.0|                  0.3|       14.75|                 2.5|          1|       Tue|          12|       2020|          0|           41|           19|           1|        Tue|           12|        2020|           0|            49|            45|
|       2| 2020-12-01 00:33:40|  2020-12-01 01:00:35|              1|        16.74|         2|                 N|         132|         164|           1|       52.0|  0.0|    0.5|       2.5|        6.12|                  0.3|       63.92|                 2.5|          1|       Tue|          12|       2020|          0|           33|           40|           1|        Tue|           12|        2020|           1|             0|            35|
|       2| 2020-12-01 00:02:15|  2020-12-01 00:13:09|              1|         4.16|         1|                 N|         238|          48|           1|       14.0|  0.5|    0.5|       1.0|         0.0|                  0.3|        18.8|                 2.5|          1|       Tue|          12|       2020|          0|            2|           15|           1|        Tue|           12|        2020|           0|            13|             9|
|       2| 2020-12-01 00:37:42|  2020-12-01 00:45:11|              1|         2.22|         1|                 N|         238|          41|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.8|                 0.0|          1|       Tue|          12|       2020|          0|           37|           42|           1|        Tue|           12|        2020|           0|            45|            11|
|       2| 2020-12-01 00:40:47|  2020-12-01 00:57:03|              1|         6.44|         1|                 N|         132|         191|           1|       19.5|  0.5|    0.5|      4.16|         0.0|                  0.3|       24.96|                 0.0|          1|       Tue|          12|       2020|          0|           40|           47|           1|        Tue|           12|        2020|           0|            57|             3|
|       2| 2020-12-01 00:01:42|  2020-12-01 00:06:06|              1|         0.99|         1|                 N|         234|         137|           1|        5.5|  0.5|    0.5|      1.86|         0.0|                  0.3|       11.16|                 2.5|          1|       Tue|          12|       2020|          0|            1|           42|           1|        Tue|           12|        2020|           0|             6|             6|
|       2| 2020-12-01 00:58:24|  2020-12-01 01:36:14|              2|        11.81|         1|                 N|         261|           7|           1|       36.5|  0.5|    0.5|       1.0|         0.0|                  0.3|        41.3|                 2.5|          1|       Tue|          12|       2020|          0|           58|           24|           1|        Tue|           12|        2020|           1|            36|            14|
|       1| 2020-12-01 00:08:15|  2020-12-01 00:16:04|              2|          2.7|         1|                 N|         237|         107|           1|        9.5|  3.0|    0.5|      2.65|         0.0|                  0.3|       15.95|                 2.5|          1|       Tue|          12|       2020|          0|            8|           15|           1|        Tue|           12|        2020|           0|            16|             4|
|       2| 2020-12-01 00:04:21|  2020-12-01 00:29:00|              1|         6.28|         1|                 N|          41|          68|           2|       23.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        26.8|                 2.5|          1|       Tue|          12|       2020|          0|            4|           21|           1|        Tue|           12|        2020|           0|            29|             0|
|       2| 2020-12-01 00:22:03|  2020-12-01 00:52:55|              1|        18.93|         2|                 N|         132|         211|           1|       52.0|  0.0|    0.5|     12.28|        6.12|                  0.3|        73.7|                 2.5|          1|       Tue|          12|       2020|          0|           22|            3|           1|        Tue|           12|        2020|           0|            52|            55|
|       2| 2020-12-01 00:46:31|  2020-12-01 00:53:49|              5|         2.75|         1|                 N|         249|         230|           2|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        13.3|                 2.5|          1|       Tue|          12|       2020|          0|           46|           31|           1|        Tue|           12|        2020|           0|            53|            49|
|       2| 2020-12-01 00:51:30|  2020-12-01 01:26:52|              2|         21.8|         2|                 N|         132|          13|           1|       52.0|  0.0|    0.5|     11.06|         0.0|                  0.3|       66.36|                 2.5|          1|       Tue|          12|       2020|          0|           51|           30|           1|        Tue|           12|        2020|           1|            26|            52|
|       1| 2020-12-01 00:14:34|  2020-12-01 00:31:04|              1|          7.6|         1|                 N|         140|          65|           1|       23.0|  3.0|    0.5|      5.35|         0.0|                  0.3|       32.15|                 2.5|          1|       Tue|          12|       2020|          0|           14|           34|           1|        Tue|           12|        2020|           0|            31|             4|
|       1| 2020-12-01 00:11:02|  2020-12-01 00:17:34|              1|          1.7|         1|                 N|         239|         141|           2|        7.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        11.3|                 2.5|          1|       Tue|          12|       2020|          0|           11|            2|           1|        Tue|           12|        2020|           0|            17|            34|
|       1| 2020-12-01 00:54:55|  2020-12-01 00:57:09|              1|          0.5|         1|                 N|         263|         141|           2|        4.0|  3.0|    0.5|       0.0|         0.0|                  0.3|         7.8|                 2.5|          1|       Tue|          12|       2020|          0|           54|           55|           1|        Tue|           12|        2020|           0|            57|             9|
|       1| 2020-12-01 00:11:22|  2020-12-01 00:40:36|              1|         21.0|         2|                 N|         132|         231|           1|       52.0|  2.5|    0.5|     16.55|         0.0|                  0.3|       71.85|                 2.5|          1|       Tue|          12|       2020|          0|           11|           22|           1|        Tue|           12|        2020|           0|            40|            36|
|       2| 2020-11-30 23:59:22|  2020-12-01 00:05:51|              3|         0.81|         1|                 N|          50|          48|           1|        5.5|  0.5|    0.5|      1.88|         0.0|                  0.3|       11.18|                 2.5|         30|       Mon|          11|       2020|         23|           59|           22|           1|        Tue|           12|        2020|           0|             5|            51|
|       2| 2020-12-01 00:24:34|  2020-12-01 00:29:59|              4|         1.45|         1|                 N|          48|         162|           1|        6.5|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|                 2.5|          1|       Tue|          12|       2020|          0|           24|           34|           1|        Tue|           12|        2020|           0|            29|            59|
|       2| 2020-12-01 00:20:44|  2020-12-01 00:32:48|              5|         3.78|         1|                 N|         140|          42|           2|       13.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.3|                 2.5|          1|       Tue|          12|       2020|          0|           20|           44|           1|        Tue|           12|        2020|           0|            32|            48|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+
only showing top 20 rows

In [ ]:
# Finding TripTime in Seconds
dataframe = dataframe.withColumn('Trip_Time',col("tpep_dropoff_datetime").cast("long") - col('tpep_pickup_datetime').cast("long"))
dataframe.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Pickup_Date|Pickup_Day|Pickup_Month|Pickup_Year|Pickup_Hour|Pickup_Minute|Pickup_Second|Dropoff_Date|Dropoff_Day|Dropoff_Month|Dropoff_Year|Dropoff_Hour|Dropoff_Minute|Dropoff_Second|Trip_Time|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|       1| 2020-12-01 00:07:13|  2020-12-01 00:18:12|              1|          7.6|         1|                 N|         138|         263|           1|       21.5|  3.0|    0.5|       2.5|        6.12|                  0.3|       33.92|                 2.5|          1|       Tue|          12|       2020|          0|            7|           13|           1|        Tue|           12|        2020|           0|            18|            12|      659|
|       1| 2020-12-01 00:41:19|  2020-12-01 00:49:45|              1|          1.6|         1|                 N|         140|         263|           1|        8.0|  3.0|    0.5|      2.95|         0.0|                  0.3|       14.75|                 2.5|          1|       Tue|          12|       2020|          0|           41|           19|           1|        Tue|           12|        2020|           0|            49|            45|      506|
|       2| 2020-12-01 00:33:40|  2020-12-01 01:00:35|              1|        16.74|         2|                 N|         132|         164|           1|       52.0|  0.0|    0.5|       2.5|        6.12|                  0.3|       63.92|                 2.5|          1|       Tue|          12|       2020|          0|           33|           40|           1|        Tue|           12|        2020|           1|             0|            35|     1615|
|       2| 2020-12-01 00:02:15|  2020-12-01 00:13:09|              1|         4.16|         1|                 N|         238|          48|           1|       14.0|  0.5|    0.5|       1.0|         0.0|                  0.3|        18.8|                 2.5|          1|       Tue|          12|       2020|          0|            2|           15|           1|        Tue|           12|        2020|           0|            13|             9|      654|
|       2| 2020-12-01 00:37:42|  2020-12-01 00:45:11|              1|         2.22|         1|                 N|         238|          41|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.8|                 0.0|          1|       Tue|          12|       2020|          0|           37|           42|           1|        Tue|           12|        2020|           0|            45|            11|      449|
|       2| 2020-12-01 00:40:47|  2020-12-01 00:57:03|              1|         6.44|         1|                 N|         132|         191|           1|       19.5|  0.5|    0.5|      4.16|         0.0|                  0.3|       24.96|                 0.0|          1|       Tue|          12|       2020|          0|           40|           47|           1|        Tue|           12|        2020|           0|            57|             3|      976|
|       2| 2020-12-01 00:01:42|  2020-12-01 00:06:06|              1|         0.99|         1|                 N|         234|         137|           1|        5.5|  0.5|    0.5|      1.86|         0.0|                  0.3|       11.16|                 2.5|          1|       Tue|          12|       2020|          0|            1|           42|           1|        Tue|           12|        2020|           0|             6|             6|      264|
|       2| 2020-12-01 00:58:24|  2020-12-01 01:36:14|              2|        11.81|         1|                 N|         261|           7|           1|       36.5|  0.5|    0.5|       1.0|         0.0|                  0.3|        41.3|                 2.5|          1|       Tue|          12|       2020|          0|           58|           24|           1|        Tue|           12|        2020|           1|            36|            14|     2270|
|       1| 2020-12-01 00:08:15|  2020-12-01 00:16:04|              2|          2.7|         1|                 N|         237|         107|           1|        9.5|  3.0|    0.5|      2.65|         0.0|                  0.3|       15.95|                 2.5|          1|       Tue|          12|       2020|          0|            8|           15|           1|        Tue|           12|        2020|           0|            16|             4|      469|
|       2| 2020-12-01 00:04:21|  2020-12-01 00:29:00|              1|         6.28|         1|                 N|          41|          68|           2|       23.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        26.8|                 2.5|          1|       Tue|          12|       2020|          0|            4|           21|           1|        Tue|           12|        2020|           0|            29|             0|     1479|
|       2| 2020-12-01 00:22:03|  2020-12-01 00:52:55|              1|        18.93|         2|                 N|         132|         211|           1|       52.0|  0.0|    0.5|     12.28|        6.12|                  0.3|        73.7|                 2.5|          1|       Tue|          12|       2020|          0|           22|            3|           1|        Tue|           12|        2020|           0|            52|            55|     1852|
|       2| 2020-12-01 00:46:31|  2020-12-01 00:53:49|              5|         2.75|         1|                 N|         249|         230|           2|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        13.3|                 2.5|          1|       Tue|          12|       2020|          0|           46|           31|           1|        Tue|           12|        2020|           0|            53|            49|      438|
|       2| 2020-12-01 00:51:30|  2020-12-01 01:26:52|              2|         21.8|         2|                 N|         132|          13|           1|       52.0|  0.0|    0.5|     11.06|         0.0|                  0.3|       66.36|                 2.5|          1|       Tue|          12|       2020|          0|           51|           30|           1|        Tue|           12|        2020|           1|            26|            52|     2122|
|       1| 2020-12-01 00:14:34|  2020-12-01 00:31:04|              1|          7.6|         1|                 N|         140|          65|           1|       23.0|  3.0|    0.5|      5.35|         0.0|                  0.3|       32.15|                 2.5|          1|       Tue|          12|       2020|          0|           14|           34|           1|        Tue|           12|        2020|           0|            31|             4|      990|
|       1| 2020-12-01 00:11:02|  2020-12-01 00:17:34|              1|          1.7|         1|                 N|         239|         141|           2|        7.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        11.3|                 2.5|          1|       Tue|          12|       2020|          0|           11|            2|           1|        Tue|           12|        2020|           0|            17|            34|      392|
|       1| 2020-12-01 00:54:55|  2020-12-01 00:57:09|              1|          0.5|         1|                 N|         263|         141|           2|        4.0|  3.0|    0.5|       0.0|         0.0|                  0.3|         7.8|                 2.5|          1|       Tue|          12|       2020|          0|           54|           55|           1|        Tue|           12|        2020|           0|            57|             9|      134|
|       1| 2020-12-01 00:11:22|  2020-12-01 00:40:36|              1|         21.0|         2|                 N|         132|         231|           1|       52.0|  2.5|    0.5|     16.55|         0.0|                  0.3|       71.85|                 2.5|          1|       Tue|          12|       2020|          0|           11|           22|           1|        Tue|           12|        2020|           0|            40|            36|     1754|
|       2| 2020-11-30 23:59:22|  2020-12-01 00:05:51|              3|         0.81|         1|                 N|          50|          48|           1|        5.5|  0.5|    0.5|      1.88|         0.0|                  0.3|       11.18|                 2.5|         30|       Mon|          11|       2020|         23|           59|           22|           1|        Tue|           12|        2020|           0|             5|            51|      389|
|       2| 2020-12-01 00:24:34|  2020-12-01 00:29:59|              4|         1.45|         1|                 N|          48|         162|           1|        6.5|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|                 2.5|          1|       Tue|          12|       2020|          0|           24|           34|           1|        Tue|           12|        2020|           0|            29|            59|      325|
|       2| 2020-12-01 00:20:44|  2020-12-01 00:32:48|              5|         3.78|         1|                 N|         140|          42|           2|       13.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.3|                 2.5|          1|       Tue|          12|       2020|          0|           20|           44|           1|        Tue|           12|        2020|           0|            32|            48|      724|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
only showing top 20 rows

In [ ]:
# dataframe.toPandas().to_csv('final.csv')

In [ ]:
filepath = '/content/drive/MyDrive/Capstone Project/taxi_zone_lookup.csv'
dataframe2 = spark.read.csv(filepath, header=True, inferSchema=True)
dataframe2.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [ ]:
dataframe.registerTempTable("df1")
dataframe2.registerTempTable('df2')

/usr/local/lib/python3.7/dist-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [ ]:
spark.sql('SELECT * FROM df1').show(3)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Pickup_Date|Pickup_Day|Pickup_Month|Pickup_Year|Pickup_Hour|Pickup_Minute|Pickup_Second|Dropoff_Date|Dropoff_Day|Dropoff_Month|Dropoff_Year|Dropoff_Hour|Dropoff_Minute|Dropoff_Second|Trip_Time|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|       1| 2020-12-01 00:07:13|  2020-12-01 00:18:12|              1|          7.6|         1|                 N|         138|         263|           1|       21.5|  3.0|    0.5|       2.5|        6.12|                  0.3|       33.92|                 2.5|          1|       Tue|          12|       2020|          0|            7|           13|           1|        Tue|           12|        2020|           0|            18|            12|      659|
|       1| 2020-12-01 00:41:19|  2020-12-01 00:49:45|              1|          1.6|         1|                 N|         140|         263|           1|        8.0|  3.0|    0.5|      2.95|         0.0|                  0.3|       14.75|                 2.5|          1|       Tue|          12|       2020|          0|           41|           19|           1|        Tue|           12|        2020|           0|            49|            45|      506|
|       2| 2020-12-01 00:33:40|  2020-12-01 01:00:35|              1|        16.74|         2|                 N|         132|         164|           1|       52.0|  0.0|    0.5|       2.5|        6.12|                  0.3|       63.92|                 2.5|          1|       Tue|          12|       2020|          0|           33|           40|           1|        Tue|           12|        2020|           1|             0|            35|     1615|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
only showing top 3 rows

In [ ]:
dataframe3 = spark.sql('SELECT df1.VendorID, df1.tpep_pickup_datetime, df1.tpep_dropoff_datetime,\
                        df1.passenger_count, df1.trip_distance, df1.RatecodeID, df1.store_and_fwd_flag,\
                        df1.PULocationID, df2.Borough AS PU_Borough, df2.Zone AS PU_Zone,\
                        df2.service_zone AS PU_ServiceZone, df1.DOLocationID, df1.payment_type,\
                        df1.fare_amount, df1.extra, df1.mta_tax, df1.tip_amount, df1.tolls_amount,\
                        df1.improvement_surcharge, df1.total_amount, df1.congestion_surcharge, \
                        df1.Pickup_Date, df1.Pickup_Day, df1.Pickup_Month, df1.Pickup_Year, df1.Pickup_Hour, \
                        df1.Pickup_Minute, df1.Pickup_Second, df1.Dropoff_Date, df1.Dropoff_Day, \
                        df1.Dropoff_Month, df1.Dropoff_Year, df1.Dropoff_Hour, df1.Dropoff_Minute, \
                        df1.Dropoff_Second, df1.Trip_Time \
                        FROM df1 LEFT JOIN df2 ON df1.PULocationID = df2.LocationID')

In [ ]:
dataframe3.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+--------------------+--------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|PU_Borough|             PU_Zone|PU_ServiceZone|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Pickup_Date|Pickup_Day|Pickup_Month|Pickup_Year|Pickup_Hour|Pickup_Minute|Pickup_Second|Dropoff_Date|Dropoff_Day|Dropoff_Month|Dropoff_Year|Dropoff_Hour|Dropoff_Minute|Dropoff_Second|Trip_Time|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+--------------------+--------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|       1| 2020-12-01 00:07:13|  2020-12-01 00:18:12|              1|          7.6|         1|                 N|         138|    Queens|   LaGuardia Airport|      Airports|         263|           1|       21.5|  3.0|    0.5|       2.5|        6.12|                  0.3|       33.92|                 2.5|          1|       Tue|          12|       2020|          0|            7|           13|           1|        Tue|           12|        2020|           0|            18|            12|      659|
|       1| 2020-12-01 00:41:19|  2020-12-01 00:49:45|              1|          1.6|         1|                 N|         140| Manhattan|     Lenox Hill East|   Yellow Zone|         263|           1|        8.0|  3.0|    0.5|      2.95|         0.0|                  0.3|       14.75|                 2.5|          1|       Tue|          12|       2020|          0|           41|           19|           1|        Tue|           12|        2020|           0|            49|            45|      506|
|       2| 2020-12-01 00:33:40|  2020-12-01 01:00:35|              1|        16.74|         2|                 N|         132|    Queens|         JFK Airport|      Airports|         164|           1|       52.0|  0.0|    0.5|       2.5|        6.12|                  0.3|       63.92|                 2.5|          1|       Tue|          12|       2020|          0|           33|           40|           1|        Tue|           12|        2020|           1|             0|            35|     1615|
|       2| 2020-12-01 00:02:15|  2020-12-01 00:13:09|              1|         4.16|         1|                 N|         238| Manhattan|Upper West Side N...|   Yellow Zone|          48|           1|       14.0|  0.5|    0.5|       1.0|         0.0|                  0.3|        18.8|                 2.5|          1|       Tue|          12|       2020|          0|            2|           15|           1|        Tue|           12|        2020|           0|            13|             9|      654|
|       2| 2020-12-01 00:37:42|  2020-12-01 00:45:11|              1|         2.22|         1|                 N|         238| Manhattan|Upper West Side N...|   Yellow Zone|          41|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.8|                 0.0|          1|       Tue|          12|       2020|          0|           37|           42|           1|        Tue|           12|        2020|           0|            45|            11|      449|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+--------------------+--------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
only showing top 5 rows

In [ ]:
dataframe3.registerTempTable('df3')
spark.sql('SELECT * FROM df3').show(3)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|PU_Borough|          PU_Zone|PU_ServiceZone|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Pickup_Date|Pickup_Day|Pickup_Month|Pickup_Year|Pickup_Hour|Pickup_Minute|Pickup_Second|Dropoff_Date|Dropoff_Day|Dropoff_Month|Dropoff_Year|Dropoff_Hour|Dropoff_Minute|Dropoff_Second|Trip_Time|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|       1| 2020-12-01 00:07:13|  2020-12-01 00:18:12|              1|          7.6|         1|                 N|         138|    Queens|LaGuardia Airport|      Airports|         263|           1|       21.5|  3.0|    0.5|       2.5|        6.12|                  0.3|       33.92|                 2.5|          1|       Tue|          12|       2020|          0|            7|           13|           1|        Tue|           12|        2020|           0|            18|            12|      659|
|       1| 2020-12-01 00:41:19|  2020-12-01 00:49:45|              1|          1.6|         1|                 N|         140| Manhattan|  Lenox Hill East|   Yellow Zone|         263|           1|        8.0|  3.0|    0.5|      2.95|         0.0|                  0.3|       14.75|                 2.5|          1|       Tue|          12|       2020|          0|           41|           19|           1|        Tue|           12|        2020|           0|            49|            45|      506|
|       2| 2020-12-01 00:33:40|  2020-12-01 01:00:35|              1|        16.74|         2|                 N|         132|    Queens|      JFK Airport|      Airports|         164|           1|       52.0|  0.0|    0.5|       2.5|        6.12|                  0.3|       63.92|                 2.5|          1|       Tue|          12|       2020|          0|           33|           40|           1|        Tue|           12|        2020|           1|             0|            35|     1615|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
only showing top 3 rows

In [ ]:
dataframe4 = spark.sql('SELECT df3.VendorID, df3.tpep_pickup_datetime, df3.tpep_dropoff_datetime,\
           df3.passenger_count, df3.trip_distance, df3.RatecodeID, df3.store_and_fwd_flag,\
           df3.PULocationID, df3.PU_Borough, df3.PU_Zone, df3.PU_ServiceZone, \
           df3.DOLocationID, df2.Borough AS DO_Borough, df2.Zone AS DO_Zone, df2.service_zone AS DO_ServiceZone,\
           df3.payment_type, df3.fare_amount, df3.extra, df3.mta_tax, df3.tip_amount, df3.tolls_amount,\
           df3.improvement_surcharge, df3.total_amount, df3.congestion_surcharge, \
           df3.Pickup_Date, df3.Pickup_Day, df3.Pickup_Month, df3.Pickup_Year, df3.Pickup_Hour, \
           df3.Pickup_Minute, df3.Pickup_Second, df3.Dropoff_Date, df3.Dropoff_Day, \
           df3.Dropoff_Month, df3.Dropoff_Year, df3.Dropoff_Hour, df3.Dropoff_Minute, \
           df3.Dropoff_Second, df3.Trip_Time \
           FROM df3 LEFT JOIN df2 \
           WHERE df3.DOLocationID = df2.LocationID')

In [ ]:
type(dataframe4)

pyspark.sql.dataframe.DataFrame

In [ ]:
dataframe4.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+--------------------+--------------+------------+----------+--------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|PU_Borough|             PU_Zone|PU_ServiceZone|DOLocationID|DO_Borough|       DO_Zone|DO_ServiceZone|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Pickup_Date|Pickup_Day|Pickup_Month|Pickup_Year|Pickup_Hour|Pickup_Minute|Pickup_Second|Dropoff_Date|Dropoff_Day|Dropoff_Month|Dropoff_Year|Dropoff_Hour|Dropoff_Minute|Dropoff_Second|Trip_Time|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+--------------------+--------------+------------+----------+--------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|       1| 2020-12-01 00:07:13|  2020-12-01 00:18:12|              1|          7.6|         1|                 N|         138|    Queens|   LaGuardia Airport|      Airports|         263| Manhattan|Yorkville West|   Yellow Zone|           1|       21.5|  3.0|    0.5|       2.5|        6.12|                  0.3|       33.92|                 2.5|          1|       Tue|          12|       2020|          0|            7|           13|           1|        Tue|           12|        2020|           0|            18|            12|      659|
|       1| 2020-12-01 00:41:19|  2020-12-01 00:49:45|              1|          1.6|         1|                 N|         140| Manhattan|     Lenox Hill East|   Yellow Zone|         263| Manhattan|Yorkville West|   Yellow Zone|           1|        8.0|  3.0|    0.5|      2.95|         0.0|                  0.3|       14.75|                 2.5|          1|       Tue|          12|       2020|          0|           41|           19|           1|        Tue|           12|        2020|           0|            49|            45|      506|
|       2| 2020-12-01 00:33:40|  2020-12-01 01:00:35|              1|        16.74|         2|                 N|         132|    Queens|         JFK Airport|      Airports|         164| Manhattan| Midtown South|   Yellow Zone|           1|       52.0|  0.0|    0.5|       2.5|        6.12|                  0.3|       63.92|                 2.5|          1|       Tue|          12|       2020|          0|           33|           40|           1|        Tue|           12|        2020|           1|             0|            35|     1615|
|       2| 2020-12-01 00:02:15|  2020-12-01 00:13:09|              1|         4.16|         1|                 N|         238| Manhattan|Upper West Side N...|   Yellow Zone|          48| Manhattan|  Clinton East|   Yellow Zone|           1|       14.0|  0.5|    0.5|       1.0|         0.0|                  0.3|        18.8|                 2.5|          1|       Tue|          12|       2020|          0|            2|           15|           1|        Tue|           12|        2020|           0|            13|             9|      654|
|       2| 2020-12-01 00:37:42|  2020-12-01 00:45:11|              1|         2.22|         1|                 N|         238| Manhattan|Upper West Side N...|   Yellow Zone|          41| Manhattan|Central Harlem|     Boro Zone|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.8|                 0.0|          1|       Tue|          12|       2020|          0|           37|           42|           1|        Tue|           12|        2020|           0|            45|            11|      449|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+--------------------+--------------+------------+----------+--------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
only showing top 5 rows

In [ ]:
dataframe4.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- PU_Borough: string (nullable = true)
 |-- PU_Zone: string (nullable = true)
 |-- PU_ServiceZone: string (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- DO_Borough: string (nullable = true)
 |-- DO_Zone: string (nullable = true)
 |-- DO_ServiceZone: string (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Pickup_Date: string (nullable = true)
 |-- Pickup_Day: string (nullable = true)
 |-- Pickup_Month: string (nullable = true)
 |-- Pickup_Year: string (nullable = true)
 |-- Pickup_Hour: string (nullable = true)
 |-- Pickup_Minute: string (nullable = true)
 |-- Pickup_Second: string (nullable = true)
 |-- Dropoff_Date: string (nullable = true)
 |-- Dropoff_Day: string (nullable = true)
 |-- Dropoff_Month: string (nullable = true)
 |-- Dropoff_Year: string (nullable = true)
 |-- Dropoff_Hour: string (nullable = true)
 |-- Dropoff_Minute: string (nullable = true)
 |-- Dropoff_Second: string (nullable = true)
 |-- Trip_Time: long (nullable = true)

In [ ]:
dataframe4.registerTempTable('df4')
spark.sql('SELECT COUNT(*) FROM df4').show()

+--------+
|count(1)|
+--------+
| 1311670|
+--------+

## **Question 1**
Get a list of total trips in the month, maximum distance traveled by a trip in the month, maximum amount charged for a trip in the month. maximum time duration traveled in a trip in the month.

In [ ]:
dataframe.groupBy(['Pickup_Year', 'Pickup_Month']).count().show()

+-----------+------------+-------+
|Pickup_Year|Pickup_Month|  count|
+-----------+------------+-------+
|       2020|          11|     14|
|       2020|          12|1311641|
|       2021|           2|      4|
|       2021|           6|      1|
|       2021|           4|      3|
|       2009|           1|      2|
|       2021|           5|      2|
|       2021|           1|      3|
+-----------+------------+-------+

In [ ]:
# Group by Pickup Month
dataframe.groupBy('Pickup_Month').count().show()

+------------+-------+
|Pickup_Month|  count|
+------------+-------+
|          11|     14|
|          12|1311641|
|           5|      2|
|           6|      1|
|           1|      5|
|           4|      3|
|           2|      4|
+------------+-------+

In [ ]:
dataframe.groupBy('Pickup_Month').max('trip_distance').show()

+------------+------------------+
|Pickup_Month|max(trip_distance)|
+------------+------------------+
|          11|             10.07|
|          12|            407.78|
|           5|              1.14|
|           6|              5.85|
|           1|              9.74|
|           4|              5.91|
|           2|              2.85|
+------------+------------------+

In [ ]:
dataframe.groupBy('Pickup_Month').max('total_amount').show()

+------------+-----------------+
|Pickup_Month|max(total_amount)|
+------------+-----------------+
|          11|             47.3|
|          12|          8361.36|
|           5|            11.62|
|           6|             31.4|
|           1|             32.3|
|           4|             23.3|
|           2|            18.36|
+------------+-----------------+

In [ ]:
dataframe.groupBy('Pickup_Month').max('Trip_Time').show()

+------------+--------------+
|Pickup_Month|max(Trip_Time)|
+------------+--------------+
|          11|         84034|
|          12|        162820|
|           5|           380|
|           6|          1854|
|           1|          1842|
|           4|         26362|
|           2|         26066|
+------------+--------------+

# **Question 2**
Get the details of the trip that has traveled the maximum distance in the month. The details should contain pickup date & time, drop off date & time, day of the week, pickup zone, drop off zone, number of passengers, distance travelled, amount charged and time duration of the trip

In [ ]:
spark.sql('SELECT tpep_pickup_datetime, tpep_dropoff_datetime, Pickup_Day, PU_Zone, DO_Zone,\
           passenger_count, trip_distance, total_amount, Trip_Time\
           FROM (SELECT *, row_number() over(partition by Pickup_Year, Pickup_Month \
           ORDER BY trip_distance DESC) rn \
           FROM df4 ) WHERE rn = 1').show()

+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+
|tpep_pickup_datetime|tpep_dropoff_datetime|Pickup_Day|             PU_Zone|             DO_Zone|passenger_count|trip_distance|total_amount|Trip_Time|
+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+
| 2009-01-01 00:46:10|  2009-01-01 01:16:52|       Thu|         JFK Airport|            Canarsie|              2|         9.36|        29.3|     1842|
| 2020-11-30 23:36:21|  2020-11-30 23:57:45|       Mon|   LaGuardia Airport| Lincoln Square East|              1|        10.07|        47.3|     1284|
| 2020-12-06 07:33:27|  2020-12-06 14:01:29|       Sun|                  NV|                  NA|              1|       407.78|      215.55|    23282|
| 2021-01-01 00:10:00|  2021-01-01 00:30:47|       Fri|        East Chelsea|Washington Height...|              1|         9.74|        32.3|     1247|
| 2021-02-02 08:54:06|  2021-02-02 16:08:32|       Tue|Upper West Side S...|        Midtown East|              1|         2.85|       18.36|    26066|
| 2021-04-28 18:43:30|  2021-04-29 02:02:52|       Wed|         Murray Hill|Financial Distric...|              1|         5.91|        23.3|    26362|
| 2021-05-20 02:40:50|  2021-05-20 02:47:10|       Thu|   Battery Park City|Financial Distric...|              1|         1.14|         9.8|      380|
| 2021-06-10 10:10:48|  2021-06-10 10:41:42|       Thu|   Battery Park City|Upper West Side S...|              1|         5.85|        31.4|     1854|
+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+

In [ ]:
# Verifying
spark.sql('SELECT * FROM df4 WHERE Pickup_Month =1 AND Pickup_Year = 2009 ORDER BY trip_distance DESC').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------+--------------+------------+----------+--------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|PU_Borough|    PU_Zone|PU_ServiceZone|DOLocationID|DO_Borough| DO_Zone|DO_ServiceZone|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Pickup_Date|Pickup_Day|Pickup_Month|Pickup_Year|Pickup_Hour|Pickup_Minute|Pickup_Second|Dropoff_Date|Dropoff_Day|Dropoff_Month|Dropoff_Year|Dropoff_Hour|Dropoff_Minute|Dropoff_Second|Trip_Time|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------+--------------+------------+----------+--------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|       2| 2009-01-01 00:46:10|  2009-01-01 01:16:52|              2|         9.36|         1|                 N|         132|    Queens|JFK Airport|      Airports|          39|  Brooklyn|Canarsie|     Boro Zone|           2|       28.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        29.3|                 0.0|          1|       Thu|           1|       2009|          0|           46|           10|           1|        Thu|            1|        2009|           1|            16|            52|     1842|
|       2| 2009-01-01 00:34:29|  2009-01-01 00:52:13|              1|         4.99|         1|                 N|         132|    Queens|JFK Airport|      Airports|         203|    Queens|Rosedale|     Boro Zone|           2|       16.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.3|                 0.0|          1|       Thu|           1|       2009|          0|           34|           29|           1|        Thu|            1|        2009|           0|            52|            13|     1064|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------+--------------+------------+----------+--------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+

# Question 3
Get the details of the trip that has charged the maximum amount for a trip in the month. The details should contain pickup date & time, drop off date & time, day of the week, pickup zone, drop off zone, number of passengers, distance travelled, amount charged and time duration of the trip

In [ ]:
spark.sql('SELECT tpep_pickup_datetime, tpep_dropoff_datetime, Pickup_Day, PU_Zone, DO_Zone,\
           passenger_count, trip_distance, total_amount, Trip_Time\
           FROM (SELECT *, row_number() over(partition by Pickup_Year, Pickup_Month ORDER BY total_amount DESC) rn \
           FROM df4 ) WHERE rn = 1').show()

+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+
|tpep_pickup_datetime|tpep_dropoff_datetime|Pickup_Day|             PU_Zone|             DO_Zone|passenger_count|trip_distance|total_amount|Trip_Time|
+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+
| 2009-01-01 00:46:10|  2009-01-01 01:16:52|       Thu|         JFK Airport|            Canarsie|              2|         9.36|        29.3|     1842|
| 2020-11-30 23:36:21|  2020-11-30 23:57:45|       Mon|   LaGuardia Airport| Lincoln Square East|              1|        10.07|        47.3|     1284|
| 2020-12-20 23:01:34|  2020-12-20 23:14:21|       Sun|        West Village|        Clinton West|              1|         4.51|     8361.36|      767|
| 2021-01-01 00:10:00|  2021-01-01 00:30:47|       Fri|        East Chelsea|Washington Height...|              1|         9.74|        32.3|     1247|
| 2021-02-02 08:54:06|  2021-02-02 16:08:32|       Tue|Upper West Side S...|        Midtown East|              1|         2.85|       18.36|    26066|
| 2021-04-28 18:43:30|  2021-04-29 02:02:52|       Wed|         Murray Hill|Financial Distric...|              1|         5.91|        23.3|    26362|
| 2021-05-20 02:07:54|  2021-05-20 02:13:51|       Thu|  World Trade Center|   Battery Park City|              1|         0.98|       11.62|      357|
| 2021-06-10 10:10:48|  2021-06-10 10:41:42|       Thu|   Battery Park City|Upper West Side S...|              1|         5.85|        31.4|     1854|
+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+

In [ ]:
# Verifying
spark.sql('SELECT * FROM df4 WHERE Pickup_Month =1 AND Pickup_Year = 2009 ORDER BY total_amount DESC LIMIT 1').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------+--------------+------------+----------+--------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|PU_Borough|    PU_Zone|PU_ServiceZone|DOLocationID|DO_Borough| DO_Zone|DO_ServiceZone|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Pickup_Date|Pickup_Day|Pickup_Month|Pickup_Year|Pickup_Hour|Pickup_Minute|Pickup_Second|Dropoff_Date|Dropoff_Day|Dropoff_Month|Dropoff_Year|Dropoff_Hour|Dropoff_Minute|Dropoff_Second|Trip_Time|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------+--------------+------------+----------+--------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|       2| 2009-01-01 00:46:10|  2009-01-01 01:16:52|              2|         9.36|         1|                 N|         132|    Queens|JFK Airport|      Airports|          39|  Brooklyn|Canarsie|     Boro Zone|           2|       28.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        29.3|                 0.0|          1|       Thu|           1|       2009|          0|           46|           10|           1|        Thu|            1|        2009|           1|            16|            52|     1842|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------+--------------+------------+----------+--------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+

# Question 4
Get the number of trips for which congestion surcharge is charged.

In [ ]:
spark.sql('SELECT COUNT(*) as No_of_trips_with_congestion_surcharge FROM df4\
           WHERE congestion_surcharge != 0').show()

+-------------------------------------+
|No_of_trips_with_congestion_surcharge|
+-------------------------------------+
|                              1211755|
+-------------------------------------+

In [ ]:
spark.sql('SELECT COUNT(*) AS total_trips FROM df4').show()

+-----------+
|total_trips|
+-----------+
|    1311670|
+-----------+

# Question 5
Get the number of trips for which congestion surcharge is charged with a break up of the surcharge amount.

In [ ]:
dataframe4.groupBy('congestion_surcharge').count().show()

+--------------------+-------+
|congestion_surcharge|  count|
+--------------------+-------+
|                 0.0|  99915|
|                 2.5|1211755|
+--------------------+-------+

In [ ]:
spark.sql('SELECT COUNT(*) FROM df4 WHERE congestion_surcharge != 0 AND improvement_surcharge != 0').show()

+--------+
|count(1)|
+--------+
| 1211726|
+--------+

# Question 6
Get the percentage of trips for which congestion surcharge is charged out of the total trips of the month.

In [ ]:
#dataframe5 = dataframe4.groupBy(['Pickup_Month','congestion_surcharge']).count()
#dataframe5.show()

In [ ]:
dataframe5 = dataframe4.filter(dataframe4['congestion_surcharge'] > 0)
dataframe5 = dataframe5.groupBy(['Pickup_Month','congestion_surcharge']).count()
dataframe5.show()

+------------+--------------------+-------+
|Pickup_Month|congestion_surcharge|  count|
+------------+--------------------+-------+
|          11|                 2.5|     12|
|          12|                 2.5|1211730|
|           1|                 2.5|      3|
|           5|                 2.5|      2|
|           4|                 2.5|      3|
|           6|                 2.5|      1|
|           2|                 2.5|      4|
+------------+--------------------+-------+

In [ ]:
import pyspark.sql.functions as f
from pyspark.sql.window import Window

dataframe5 = dataframe5\
  .withColumn('total', f.sum('count').over(Window.partitionBy()))\
  .withColumn('percent', format_number(f.col('count')/f.col('total'),6))
  
dataframe5.show()

+------------+--------------------+-------+-------+--------+
|Pickup_Month|congestion_surcharge|  count|  total| percent|
+------------+--------------------+-------+-------+--------+
|          11|                 2.5|     12|1211755|0.000010|
|          12|                 2.5|1211730|1211755|0.999979|
|           1|                 2.5|      3|1211755|0.000002|
|           5|                 2.5|      2|1211755|0.000002|
|           4|                 2.5|      3|1211755|0.000002|
|           6|                 2.5|      1|1211755|0.000001|
|           2|                 2.5|      4|1211755|0.000003|
+------------+--------------------+-------+-------+--------+

# Question 7
Write a query get a list of total trips,


*   maximum distance traveled by a trip, maximum amount charged for a trip, maximum time duration traveled in a trip with a break. up of the day of the week.
*   For each day of week it should list the total number of trips in thatmonth, max distance traveled by a trip, max amount charged for a trip and max time duration travelled in a trip.

In [ ]:
dataframe.groupBy('Pickup_Day').max('trip_distance').show()

+----------+------------------+
|Pickup_Day|max(trip_distance)|
+----------+------------------+
|       Sun|            407.78|
|       Mon|             190.4|
|       Thu|            187.65|
|       Sat|             119.8|
|       Wed|             125.6|
|       Tue|             94.81|
|       Fri|             118.7|
+----------+------------------+

In [ ]:
dataframe.groupBy('Pickup_Day').max('total_amount').show()

+----------+-----------------+
|Pickup_Day|max(total_amount)|
+----------+-----------------+
|       Sun|          8361.36|
|       Mon|           416.42|
|       Thu|           526.41|
|       Sat|           461.67|
|       Wed|            556.3|
|       Tue|           561.42|
|       Fri|           387.55|
+----------+-----------------+

In [ ]:
dataframe.groupBy('Pickup_Day').max('Trip_Time').show()

+----------+--------------+
|Pickup_Day|max(Trip_Time)|
+----------+--------------+
|       Sun|         86368|
|       Mon|         86375|
|       Thu|        162820|
|       Sat|         86372|
|       Wed|         86351|
|       Tue|         86358|
|       Fri|         86373|
+----------+--------------+

# Question 8
Get the details of the trip that has traveled the maximum distance with a break up of day of week in the month. The details should contain pickup date & time, drop off date & time, day of the week, pickup zone, drop off zone, number of passengers, distance travelled, amount charged and time duration of the trip.

In [ ]:
spark.sql('SELECT tpep_pickup_datetime, tpep_dropoff_datetime, Pickup_Day, PU_Zone, DO_Zone, passenger_count, trip_distance, \
           total_amount, Trip_Time FROM (SELECT *, row_number() over(partition by Pickup_Year, Pickup_Month, Pickup_Day ORDER BY trip_distance DESC) rn \
           FROM df4 ) WHERE rn = 1').show()

+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+
|tpep_pickup_datetime|tpep_dropoff_datetime|Pickup_Day|             PU_Zone|             DO_Zone|passenger_count|trip_distance|total_amount|Trip_Time|
+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+
| 2009-01-01 00:46:10|  2009-01-01 01:16:52|       Thu|         JFK Airport|            Canarsie|              2|         9.36|        29.3|     1842|
| 2020-11-30 23:36:21|  2020-11-30 23:57:45|       Mon|   LaGuardia Airport| Lincoln Square East|              1|        10.07|        47.3|     1284|
| 2020-12-18 11:19:11|  2020-12-18 13:41:07|       Fri|            Glendale|      Newark Airport|              1|        118.7|      201.77|     8516|
| 2020-12-19 08:25:01|  2020-12-19 11:45:34|       Sat|     Lenox Hill West|         Brownsville|              2|        119.8|      363.54|    12033|
| 2020-12-06 07:33:27|  2020-12-06 14:01:29|       Sun|                  NV|                  NA|              1|       407.78|      215.55|    23282|
| 2020-12-10 08:24:37|  2020-12-10 11:15:21|       Thu|                  NA|                  NA|              2|       187.65|       470.3|    10244|
| 2021-01-20 12:25:47|  2021-01-20 12:34:29|       Wed|         Murray Hill|        East Village|              1|         1.56|       14.76|      522|
| 2021-02-02 08:54:06|  2021-02-02 16:08:32|       Tue|Upper West Side S...|        Midtown East|              1|         2.85|       18.36|    26066|
| 2021-02-10 19:55:55|  2021-02-10 20:04:09|       Wed|                SoHo|  World Trade Center|              1|         1.49|       14.16|      494|
| 2021-04-28 18:43:30|  2021-04-29 02:02:52|       Wed|         Murray Hill|Financial Distric...|              1|         5.91|        23.3|    26362|
| 2021-06-10 10:10:48|  2021-06-10 10:41:42|       Thu|   Battery Park City|Upper West Side S...|              1|         5.85|        31.4|     1854|
| 2020-12-28 02:09:52|  2020-12-28 05:27:08|       Mon|         Murray Hill|                  NA|              1|        190.4|       360.0|    11836|
| 2020-12-16 19:55:44|  2020-12-17 00:43:24|       Wed|         JFK Airport|                  NA|              1|        125.6|      276.42|    17260|
| 2021-05-20 02:40:50|  2021-05-20 02:47:10|       Thu|   Battery Park City|Financial Distric...|              1|         1.14|         9.8|      380|
| 2020-12-01 07:06:03|  2020-12-01 09:06:34|       Tue|        Bedford Park|                  NA|              1|        94.81|       244.8|     7231|
| 2021-01-01 00:10:00|  2021-01-01 00:30:47|       Fri|        East Chelsea|Washington Height...|              1|         9.74|        32.3|     1247|
+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+

In [ ]:
# Verifying
spark.sql('SELECT * FROM df4 WHERE Pickup_Month =11 AND Pickup_Year = 2020 AND Pickup_Day = "Mon" ORDER BY trip_distance DESC LIMIT 1').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+----------+-------------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|PU_Borough|          PU_Zone|PU_ServiceZone|DOLocationID|DO_Borough|            DO_Zone|DO_ServiceZone|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Pickup_Date|Pickup_Day|Pickup_Month|Pickup_Year|Pickup_Hour|Pickup_Minute|Pickup_Second|Dropoff_Date|Dropoff_Day|Dropoff_Month|Dropoff_Year|Dropoff_Hour|Dropoff_Minute|Dropoff_Second|Trip_Time|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+----------+-------------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|       2| 2020-11-30 23:36:21|  2020-11-30 23:57:45|              1|        10.07|         1|                 N|         138|    Queens|LaGuardia Airport|      Airports|         142| Manhattan|Lincoln Square East|   Yellow Zone|           1|       29.5|  0.5|    0.5|      7.88|        6.12|                  0.3|        47.3|                 2.5|         30|       Mon|          11|       2020|         23|           36|           21|          30|        Mon|           11|        2020|          23|            57|            45|     1284|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+----------+-------------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+

# Question 9
Get the details of the trip that has charged the maximum amount with a break up of day of week in the month. The details should contain pickup date & time, drop off date & time, day of the week, pickup zone, drop off zone, number of passengers, distance travelled, amount charged and time duration of the trip

In [ ]:
spark.sql('SELECT tpep_pickup_datetime, tpep_dropoff_datetime, Pickup_Day, PU_Zone, DO_Zone, passenger_count, trip_distance, \
           total_amount, Trip_Time FROM (SELECT *, row_number() over(partition by Pickup_Year, Pickup_Month, Pickup_Day ORDER BY total_amount DESC) rn \
           FROM df4 ) WHERE rn = 1').show()

+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+
|tpep_pickup_datetime|tpep_dropoff_datetime|Pickup_Day|             PU_Zone|             DO_Zone|passenger_count|trip_distance|total_amount|Trip_Time|
+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+
| 2009-01-01 00:46:10|  2009-01-01 01:16:52|       Thu|         JFK Airport|            Canarsie|              2|         9.36|        29.3|     1842|
| 2020-11-30 23:36:21|  2020-11-30 23:57:45|       Mon|   LaGuardia Airport| Lincoln Square East|              1|        10.07|        47.3|     1284|
| 2020-12-11 11:08:21|  2020-12-11 15:12:40|       Fri|      Midtown Center|                  NA|              1|        85.89|      387.55|    14659|
| 2020-12-26 17:48:38|  2020-12-26 19:21:32|       Sat|         JFK Airport|                  NA|              1|         95.1|      461.67|     5574|
| 2020-12-20 23:01:34|  2020-12-20 23:14:21|       Sun|        West Village|        Clinton West|              1|         4.51|     8361.36|      767|
| 2020-12-24 03:23:53|  2020-12-24 04:55:30|       Thu|Penn Station/Madi...|                  NA|              1|        85.36|      526.41|     5497|
| 2021-01-20 12:25:47|  2021-01-20 12:34:29|       Wed|         Murray Hill|        East Village|              1|         1.56|       14.76|      522|
| 2021-02-02 08:54:06|  2021-02-02 16:08:32|       Tue|Upper West Side S...|        Midtown East|              1|         2.85|       18.36|    26066|
| 2021-02-10 19:55:55|  2021-02-10 20:04:09|       Wed|                SoHo|  World Trade Center|              1|         1.49|       14.16|      494|
| 2021-04-28 18:43:30|  2021-04-29 02:02:52|       Wed|         Murray Hill|Financial Distric...|              1|         5.91|        23.3|    26362|
| 2021-06-10 10:10:48|  2021-06-10 10:41:42|       Thu|   Battery Park City|Upper West Side S...|              1|         5.85|        31.4|     1854|
| 2020-12-14 23:29:21|  2020-12-15 04:22:51|       Mon|         Murray Hill|                  NA|              1|        133.6|      416.42|    17610|
| 2020-12-23 06:42:32|  2020-12-23 07:48:01|       Wed|                  NA|                  NA|              1|         59.3|       556.3|     3929|
| 2021-05-20 02:07:54|  2021-05-20 02:13:51|       Thu|  World Trade Center|   Battery Park City|              1|         0.98|       11.62|      357|
| 2020-12-22 04:09:37|  2020-12-22 04:38:19|       Tue| Lincoln Square East|         JFK Airport|              1|         21.3|      561.42|     1722|
| 2021-01-01 00:10:00|  2021-01-01 00:30:47|       Fri|        East Chelsea|Washington Height...|              1|         9.74|        32.3|     1247|
+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+

In [ ]:
# Verifying
spark.sql('SELECT * FROM df4 WHERE Pickup_Month =11 AND Pickup_Year = 2020 AND Pickup_Day = "Mon" ORDER BY total_amount DESC LIMIT 1').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+----------+-------------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|PU_Borough|          PU_Zone|PU_ServiceZone|DOLocationID|DO_Borough|            DO_Zone|DO_ServiceZone|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Pickup_Date|Pickup_Day|Pickup_Month|Pickup_Year|Pickup_Hour|Pickup_Minute|Pickup_Second|Dropoff_Date|Dropoff_Day|Dropoff_Month|Dropoff_Year|Dropoff_Hour|Dropoff_Minute|Dropoff_Second|Trip_Time|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+----------+-------------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|       2| 2020-11-30 23:36:21|  2020-11-30 23:57:45|              1|        10.07|         1|                 N|         138|    Queens|LaGuardia Airport|      Airports|         142| Manhattan|Lincoln Square East|   Yellow Zone|           1|       29.5|  0.5|    0.5|      7.88|        6.12|                  0.3|        47.3|                 2.5|         30|       Mon|          11|       2020|         23|           36|           21|          30|        Mon|           11|        2020|          23|            57|            45|     1284|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+----------+-------------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+

# Question 10
Get the details of the trip that has traveled the maximum time duration with a break up of day of week in the month. The details should contain pickup date & time, drop off date & time, day of the week, pickup zone, drop off zone, number of passengers, distance travelled, amount charged and time duration of the trip

In [ ]:
spark.sql('SELECT tpep_pickup_datetime, tpep_dropoff_datetime, Pickup_Day, PU_Zone, DO_Zone, passenger_count, trip_distance, \
           total_amount, Trip_Time FROM (SELECT *, row_number() over(partition by Pickup_Year, Pickup_Month, Pickup_Day ORDER BY Trip_Time DESC) rn \
           FROM df4 ) WHERE rn = 1').show()

+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+
|tpep_pickup_datetime|tpep_dropoff_datetime|Pickup_Day|             PU_Zone|             DO_Zone|passenger_count|trip_distance|total_amount|Trip_Time|
+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+
| 2009-01-01 00:46:10|  2009-01-01 01:16:52|       Thu|         JFK Airport|            Canarsie|              2|         9.36|        29.3|     1842|
| 2020-11-30 13:23:38|  2020-12-01 12:44:12|       Mon|   LaGuardia Airport|    Hamilton Heights|              1|         8.64|       37.92|    84034|
| 2020-12-25 17:56:52|  2020-12-26 17:56:25|       Fri|            Flatiron|       Midtown South|              1|         1.61|       14.04|    86373|
| 2020-12-05 16:42:37|  2020-12-06 16:42:09|       Sat|Upper East Side N...|Upper West Side S...|              6|         1.44|       12.43|    86372|
| 2020-12-20 12:21:27|  2020-12-21 12:20:55|       Sun|         JFK Airport|                  NV|              1|        35.13|      244.05|    86368|
| 2020-12-24 14:50:16|  2020-12-26 12:03:56|       Thu|         JFK Airport|         JFK Airport|              1|         4.99|        16.3|   162820|
| 2021-01-20 12:25:47|  2021-01-20 12:34:29|       Wed|         Murray Hill|        East Village|              1|         1.56|       14.76|      522|
| 2021-02-02 08:54:06|  2021-02-02 16:08:32|       Tue|Upper West Side S...|        Midtown East|              1|         2.85|       18.36|    26066|
| 2021-02-10 19:55:55|  2021-02-10 20:04:09|       Wed|                SoHo|  World Trade Center|              1|         1.49|       14.16|      494|
| 2021-04-28 18:43:30|  2021-04-29 02:02:52|       Wed|         Murray Hill|Financial Distric...|              1|         5.91|        23.3|    26362|
| 2021-06-10 10:10:48|  2021-06-10 10:41:42|       Thu|   Battery Park City|Upper West Side S...|              1|         5.85|        31.4|     1854|
| 2020-12-14 10:29:14|  2020-12-15 10:28:49|       Mon|Upper West Side S...|Upper East Side S...|              5|         1.48|       14.12|    86375|
| 2020-12-23 07:19:35|  2020-12-24 07:18:46|       Wed| Little Italy/NoLiTa|   East Harlem South|              1|          7.0|        39.3|    86351|
| 2021-05-20 02:40:50|  2021-05-20 02:47:10|       Thu|   Battery Park City|Financial Distric...|              1|         1.14|         9.8|      380|
| 2020-12-29 13:29:57|  2020-12-30 13:29:15|       Tue|            Union Sq|Financial Distric...|              5|         2.63|        17.6|    86358|
| 2021-01-01 00:10:00|  2021-01-01 00:30:47|       Fri|        East Chelsea|Washington Height...|              1|         9.74|        32.3|     1247|
+--------------------+---------------------+----------+--------------------+--------------------+---------------+-------------+------------+---------+

In [ ]:
# Verifying
spark.sql('SELECT * FROM df4 WHERE Pickup_Month =11 AND Pickup_Year = 2020 AND Pickup_Day = "Mon" ORDER BY Trip_Time DESC LIMIT 1').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+----------+----------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|PU_Borough|          PU_Zone|PU_ServiceZone|DOLocationID|DO_Borough|         DO_Zone|DO_ServiceZone|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Pickup_Date|Pickup_Day|Pickup_Month|Pickup_Year|Pickup_Hour|Pickup_Minute|Pickup_Second|Dropoff_Date|Dropoff_Day|Dropoff_Month|Dropoff_Year|Dropoff_Hour|Dropoff_Minute|Dropoff_Second|Trip_Time|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+----------+----------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+
|       2| 2020-11-30 13:23:38|  2020-12-01 12:44:12|              1|         8.64|         1|                 N|         138|    Queens|LaGuardia Airport|      Airports|         116| Manhattan|Hamilton Heights|     Boro Zone|           1|       26.5|  0.5|    0.5|       4.0|        6.12|                  0.3|       37.92|                 0.0|         30|       Mon|          11|       2020|         13|           23|           38|           1|        Tue|           12|        2020|          12|            44|            12|    84034|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+----------+-----------------+--------------+------------+----------+----------------+--------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+------------+-----------+-----------+-------------+-------------+------------+-----------+-------------+------------+------------+--------------+--------------+---------+